<!DOCTYPE html>
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>CovLine Services</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="img/LogoOri.png" type="image/x-icon">

  <link href='https://fonts.googleapis.com/css?family=Balsamiq Sans' rel='stylesheet'>
<style>
body {
    font-family: 'Balsamiq Sans';font-size: 22px;
}
</style>
</head>
<body class= "inicio">

  <!-- Navegation Menu 
  <ul id="dropdown2" class="dropdown-content">
    <li><a href="#!">Editar<i class="material-icons right">settings</i></a></l< /a>
    </li>
    <li><a href="#!">Salir<i class="material-icons right">exit_to_app</i></a></li>
  </ul>-->


  <nav class="nav-extended orange lighten-2">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo left-align"><img class="responsive-img" src="img/LogoOri.png" width="80px" height="100px">Covline Services</a>
      <a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>

      <ul class="right hide-on-med-and-down">
        <li><a href=""><i class="material-icons left">home</i>Inicio</a></li>
        <li><a href=#conoce><i class="material-icons left">mood</i>Conócenos</a></li>
        <li><a href=""><i class="material-icons left">schedule</i>Horarios</a></li>
        <li><a href=""><i class="material-icons left">shopping_cart</i>Servicios</a></li>
        <li><a href="/ubicacion"><i class="material-icons left">location_on</i>Ubicación</a></li>
        <li><a href="/login" class="btn black white-text waves-effect waves-blue-grey lighten-1">Iniciar sesión</a></li>

      </ul>

    </div>
  </nav>

  <ul class="sidenav" id="menu-responsive">
    <li><a href="">Inicio</a></li>
    <li><a href=#>Conócenos</a></li>
    <li><a href="">Horarios</a></li>
    <li><a href="">Servicios</a></li>
  </ul>

  <!-- Slider -->
  <section class="slider">
    <ul class="slides">
      <li>
        <img src="img/servicio-3.jpg"> 
        <div class="caption center-align">
          <h1>Historia</h3>
          <h5 class="light grey-text text-lighten-3">Nuestra empresa nace por la necesidad de insumos debido a la presencia del covid-19, generando un servicio que permite adquirir productos sin salir de casa.</h5>
          
        </div>
      </li>
      <li>
        <img src="img/servicio-2.jpg"> 
        <div class="caption left-align">
          <h3>Negocios Asociados</h3>
          <h5 class="light grey-text text-lighten-3">Pequeñas y grandes empresas de la región.</h5>
          <a href="#negocios" class="btn btn-large white black-text waves-effect waves-grey">Ver más</a>
        </div>
      </li>
      <li>
        <img src="img/servicio-1.jpg"> 
        <div class="caption right-align">
          <h3>Contacto</h3>
          <h5 class="light grey-text text-lighten-3">Ubicados en Dolores Hidalgo</h5>
          <!--**<a href="#" class="btn btn-large white black-text waves-effect waves-grey">Ver más</a>-->
        </div>
      </li>

    </ul>
  </section>

<main>

  <div class="container" id="conoce">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><span class="material-icons"> people</span></h2>
            <h5 class="center" > <font color="blue"><b> Misión</b> </font></h5>

            <p class="light" align="justify">Nuestra misión es convertirnos en la app que te facilite la vida. CovLine Services es la forma más rápida y fácil de hacer tus compras, pedir comida y llevarte cualquier tipo de domicilios. Hacemos todo por ti en minutos.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><span class="material-icons">thumbs_up_down</span></h2>
            <h5 class="center"> <font color="blue"><b> Visión</b> </font></h5>

            <p class="light" align="justify">Lograr ser el medio de transporte mas ultilizado a nivel local, brindando confianza y seguridad a nuestros clientes, expandiendonos al resto de Guanajuato y el país.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="material-icons">terrain</i></h2>
            <h5 class="center"> <font color="blue"><b> Historia</b> </font></h5>

            <p class="light" align="justify">Nuestra empresa nace por la necesidad de insumos debido a la presencia del covid-19, generando un servicio que permite adquirir productos sin salir de casa. </p>
          
          </div>
        </div>
      </div>

    </div>
    <br><br>
  </div>

  <!-- Blog -->
  <section class="container" id="negocios">
   <h2 class="center">Negocios Frecuentes</h2>

   <div class="row">
     
    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/soriana.jpg" width="300" height="300">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Soriana
            <i class="material-icons right">more_vert</i></span>
          <div class="card-action">
            <!--<a href="httpS://www.soriana.com" class="btn-large light-blue accent-2">Ver más</a>-->
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><font color="blue">Soriana</font><i class="material-icons right">close</i></span>
          <p align="justify">Soriana es una cadena mexicana de supermercados y almacenes, fundada en 1968 por los hermanos Francisco y Armando Martín Borque en Torreón, Coahuila, México. La cadena solamente opera en México.</p>
        </div>
      </div>           
    </div>

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/bodega-aurrera.jpg" width="300" height="300">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Aurrera
            <i class="material-icons right">more_vert</i></span>
          <div class="card-action">
            <!--<a href="#soriana" class="btn-large light-blue accent-2">Ver más</a>-->
          </div>
        </div>
        <div id="soriana" class="card-reveal">
          <span class="card-title grey-text text-darken-4"><font color="blue">Aurrera</font><i class="material-icons right">close</i></span>
          <p align="justify">Bodega Aurrerá es el nombre de uno de los formatos de tiendas de autoservicio en México que fueron propiedad originalmente de la empresa Almacenes Aurrerá; posteriormente de su sucesora, Grupo Cifra y actualmente de la filial mexicana del corporativo detallista estadounidense Walmart.</p>
          
        </div>
      </div>           
    </div>

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/megasupo.jpg" width="300" height="300">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Oxxo
            <i class="material-icons right">more_vert</i></span>
          <div class="card-action">
          <!--<a href="#" class="btn-large light-blue accent-2">Ver más</a>-->
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> <font color="blue">Oxxo</font><i class="material-icons right">close</i></span>
          <p align="justify">Cadena Comercial OXXO, S.A. de C.V., ​ más conocida como OXXO, es una cadena de tiendas de conveniencia mexicana, propiedad de FEMSA, y subsidiaria de FEMSA Comercio.​​ Al ser unidad de negocio de FEMSA, comercializa exclusivamente marcas de cerveza de Cervecería Cuauhtémoc.</p>
          
        </div>
      </div>           
    </div>

    <div class="col s12 m12 l6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="img/farmacia gdl.jpg" width="300" height="300">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> Farmacia Guadalajara
            <i class="material-icons right">more_vert</i></span>
          <div class="card-action">
            <!--<a href="#" class="btn-large light-blue accent-2">Ver más</a>-->
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><font color="blue">Farmacia Guadalajara</font><i class="material-icons right">close</i></span>
          <p align="justify">Farmacia Guadalajaras es una cadena de farmacias mexicana, fundada en 1942 en Guadalajara, Jalisco. En 1962 comenzó un programa de expansión, y actualmente cuenta con más de 1725 farmacias en 19 estados.</p>
          
        </div>
      </div>           
    </div>

   </div>

  </section>

</main>

  <footer class="page-footer black">
    
    <div class="social-container">
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>

    <div class="footer-copyright">
      <div class="container center footer-text">
       &copf; CovLine Services - 2020
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

  </body>
</html>
