<!DOCTYPE html>
<html lang="es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>CovLine Services</title>

	<!-- CSS  -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link rel="shortcut icon" href="img/LogoOri.png" type="image/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Balsamiq Sans' rel='stylesheet'>
	<style>
		body {
			font-family: 'Balsamiq Sans';
			font-size: 22px;
		}
	</style>

<body class="sesion">
	<!-- Navegation Menu 
	 <ul id="dropdown2" class="dropdown-content">
		<li><a href="#!">Editar<i class="material-icons right">settings</i></a></l< /a>
		</li>
		<li><a href="#!">Salir<i class="material-icons right">exit_to_app</i></a></li>
	  </ul>
	-->

	<nav class="nav-extended orange lighten-2">
		<div class="nav-wrapper">
			<a href="#!" class="brand-logo left-align"><img class="responsive-img" src="img/LogoOri.png" width="80px"
					height="100px">Covline Services</a>
			<a href="#" data-target="menu-responsive" class="sidenav-trigger"><i class="material-icons">menu</i></a>

			<ul class="right hide-on-med-and-down">
				<li><a href=""><i class="material-icons left">home</i>Inicio</a></li>
				<li><a href=#conoce><i class="material-icons left">mood</i>Conócenos</a></li>
				<li><a href=""><i class="material-icons left">schedule</i>Horarios</a></li>
				<li><a href=""><i class="material-icons left">shopping_cart</i>Servicios</a></li>
				<li><a href="/sesion" class="btn black white-text waves-effect waves-blue-grey lighten-1">Iniciar
						sesión</a></li>

			</ul>

		</div>
	</nav>

	<ul class="sidenav" id="menu-responsive">
		<li><a href="">Inicio</a></li>
		<li><a href=#>Conócenos</a></li>
		<li><a href="">Horarios</a></li>
		<li><a href="">Servicios</a></li>
	</ul>

	<main>
		<div class="container">
			<div class="card text-center mt-5">
				<div class="card-body">
					<h1><span class="fa fa-block align center"></span>Autenticación</h1>
					<p>Login or Register</p>
					<a href="/login" class="btn btn-light">
						<span class="fa fa-user"></span> Inicia sesión
					</a>
					<a href="/signup" class="btn btn-light">
						<span class="fa fa-user"></span> Regístrate
					</a>
				</div>
			</div>
		</div>
	</main>

	<footer class="page-footer black">

		<div class="social-container">
			<a href="#"><i class="fab fa-facebook-square"></i></a>
			<a href="#"><i class="fab fa-instagram"></i></a>
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
		</div>

		<div class="footer-copyright">
			<div class="container center footer-text">
				&copf; CovLine Services - 2020
			</div>
		</div>
	</footer>

</body>

<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/materialize.js"></script>
<script src="js/init.js"></script>

</html>